:root {
  --light-blue-color: #6ec1e4;
  --darker-blue-color: #65bde2;
  --turquoise-color: #47E4D3;
  --darker-turquoise-color: #2ce0cc;
  --very-light-blue-color: #d0eefb;
  --dark-gray-color: #54595f;
  --light-gray-color: #7a7a7a;
  --green-color: #61ce70;
  --very-light-gray-color: #d1d8db;
  --almost-black-color: #070917;
  --light-orange-color: #f05b10;
  --dark-orange-color: #E5570F;
  --dark-red-color: #9A0F10;
  --lighter-red-color: #A21011;


  

}

/*----------------------------------COMMON-----------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lora', serif; */
  font-family: "Lora", sans-serif;
}

header {
  border-bottom: 1px solid var(--very-light-gray-color);
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
}

header h2 {
  font-size: 20px;
}

h2 {
  font-size: 34px;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

.what-i-work-with h2,
.prices h2,
.work-progress h2,
.slider h2 {
  text-align: center;
}

.what-i-work-with h4,
.prices h4,
.work-progress h4 {
  font-size: 24px;
  color: var(--light-blue-color);
}

.prices .comment,
.work-progress .comment {
  font-family: "Lora", serif;
  font-size: 14px;
  color: var(--light-gray-color);
  padding: 10px 0;
}

.nowrap {
  white-space: nowrap;
}

.work-progress .stage ul li,
.what-i-work-with .request ul li {
  list-style: none;
  padding: 4px 0 4px 22px;
  font-family: "Lora", serif;
  line-height: 150%;
  position: relative;
}

.work-progress .stage ul li::before,
.what-i-work-with .request ul li::before {
  content: "";
  display: inline-block;
  height: 13px;
  width: 15px;
  background-image: url(img/icons/ui/tick.svg);
  position: absolute;
  top: 10px;
  left: 0px;
}

.fade{
  position: fixed;
  top:0;
  left: 0;
  content:'';
  width: 100vw;
  height:100vh;
  background: rgba(0, 0,0, 0.5);
  display: none;

}

.fade-shown {
  display: block;
}

/*----------------------------------END OF COMMON-----------------------------------------*/

/*----------------------------------TOP MENU----------------------------------------------*/
.top-menu-desktop {
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* padding: 5px 10px 5px 10px; */
}

.top-menu-desktop h2 {
  margin: auto 0;
}

.top-menu-desktop ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.top-menu-desktop ul li {
  list-style-type: none;
  font-size: 16px;
}

.top-menu-desktop ul li a {
  text-decoration: none;
  color: #000;
  transition: all 500ms ease;
}

.top-menu-desktop ul li a:hover {
  font-size: 18px;
  text-decoration: underline;
}

.whatsapp a::before {
  content: "";
  display: inline-block;
  background: url(img/icons/social-media/whatsapp.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 5px;
}

.telegram a::before {
  content: "";
  display: inline-block;
  background: url(img/icons/social-media/telegram.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 5px;
}

.telegram-channel a::before {
  content: "";
  display: inline-block;
  background: url(img/icons/social-media/telegram-channel.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 5px;
}

.instagram a::before {
  content: "";
  display: inline-block;
  background: url(img/icons/social-media/instagram.svg);
  width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 5px;
}

/*----------------------------------END OF TOP MENU----------------------------------------------*/

/*----------------------------------HERO SECTION----------------------------------------------*/

.hero-section {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-section div {
  flex: 1;
  /* width: 50%; */
}

.hero-section .left img {
  height: 70vh;
}

.hero-section .right {
  font-family: "Lora", serif;
  font-size: 20px;
  line-height: 170%;
}

/*----------------------------------END OF HERO SECTION----------------------------------------------*/

/*----------------------------------WHAT I WORK WITH----------------------------------------------*/

.what-i-work-with {
  /* background: var(--very-light-blue-color); */
  padding: 30px 0 130px 0;
}

.what-i-work-with .content {
  display: flex;
  padding: 40px 0 0 0;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.what-i-work-with .request ul {
  padding-left: 40px;
  padding-top: 10px;
}


.what-i-work-with .request {
  /* width: 33%; */
  margin-bottom: 40px;
  flex: 1 1 30%;
  position: relative;
  padding-left: 130px;
}

.what-i-work-with .relationships::before {
  content: "";
  background: url("img/icons/what-i-work-with/relationship.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px +550px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .emotions::before {
  content: "";
  background: url("img/icons/what-i-work-with/emotions.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .conditions::before {
  content: "";
  background: url("img/icons/what-i-work-with/conditions.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .self-esteem::before {
  content: "";
  background: url("img/icons/what-i-work-with/self-esteem.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .addictions::before {
  content: "";
  background: url("img/icons/what-i-work-with/addictions.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
  transform: rotate(-30deg);
}

.what-i-work-with .disorders::before {
  content: "";
  background: url("img/icons/what-i-work-with/disorders.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

/*----------------------------------END OF WHAT I WORK WITH----------------------------------------------*/

/*----------------------------------PRICES----------------------------------------------*/

.prices {
  padding: 100px 0 100px 0;
}

.prices .content {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  text-align: center;
}

.prices .service {
  flex: 1 1 33%;
}

.prices .price {
  font-family: "Lora", serif;
  font-size: 20px;
}

/*----------------------------------END OF PRICES----------------------------------------------*/

/*----------------------------------WORK PROGRESS----------------------------------------------*/

.work-progress {
  padding: 100px 0 100px 0;
}

.work-progress .content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
}

.work-progress .stage {
  flex: 1 1 50%;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.work-progress .stage .label {
  width: 30%;
  text-align: center;
}

.work-progress .stage ul {
  width: 70%;
}

.work-progress h4 {
  font-size: 18px;
}

.work-progress h4 .number {
  font-size: 100px;
  vertical-align: middle;
  line-height: 80%;
  /* word-break: keep-all; */
}

.work-progress .stage-label {
  vertical-align: middle;
}

.work-progress .stage ul {
  padding-left: 10px;
  padding-top: 10px;
}

/*----------------------------------END OF WORK PROGRESS----------------------------------------------*/

/*----------------------------------PARALLAX----------------------------------------------*/

.parallax {
  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.face {
  background-image: url(img/bg/face.jpg);
}

.exit {
  background-image: url(img/bg/exit.jpg);
}

.exit2 {
  background-image: url(img/bg/exit2.jpg);
}

.sofa {
  background-image: url(img/bg/sofa.jpg);
}

/*----------------------------------END OF PARALLAX----------------------------------------------*/

/*----------------------------------SLIDER----------------------------------------------*/

.slider {
  padding: 100px 0 100px 0;
}

.slider h2 {
  margin-bottom: 50px;
}

.slider-body {
  position: relative;
}

.slider-viewport {
  margin-top: 50px;
  /* background: #ccc; */
  width: 100%;
  margin: 0 auto;
  height: 300px;
  /* display: flex; */

  overflow: hidden;
  position: relative;
}

.slider-item {
  width: 33.33%;
  /* border: 1px solid aqua; */
  height: 100%;
  /* flex-shrink: 0; */
  /* transform: translateX(-100%); */
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-item img {
  max-height: 100%;
  display: block;
  width: 50%;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 1px solid var(--very-light-gray-color);
  cursor: pointer;

}

.slider-body .btn {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slider-body .btn:hover {
  width: 55px;
  height: 55px;
  
}

.slider-body .btn-left {
  top: calc(50% - 25px);
  left: calc(33.33% - 25px);
}

.slider-body .btn-right {
  top: calc(50% - 25px);
  left: calc(66.66% - 25px);
  transform: rotate(180deg);
}

.slider-body .btn-left:hover{
  top: calc(50% - 25px - 2.5px);
  left: calc(33.33% - 25px - 5px);
}

.slider-body .btn-right:hover{
  top: calc(50% - 25px - 2.5px);
  /* left: calc(66.66% - 25px + 2.5px); */
}



.no-transition {
  transition: none;
}

.small-slider-item {
  height: 50%;
  top: calc(50% - 75px);
}

.large-slider-item {
  height:80vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}



/*----------------------------------END OF SLIDER----------------------------------------------*/

/*----------------------------------WEBINARS----------------------------------------------*/

.webinars .content{
  margin: 100px 0;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}



.webinars .circle-outer {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: var(--darker-turquoise-color);
  display: flex;
  align-items:center;
  justify-content:center;
  transition: all 1s ease



}

.webinars .circle-outer:hover {
  transform: rotate(7deg);
}

.webinars .circle-inner {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background: var(--turquoise-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  
}

.webinars .circle-inner:hover {
  height: 200px;
  width: 200px;
}

.webinars .articles .circle-outer{
  background: var(--darker-blue-color);
}

.webinars .articles .circle-inner{
  background: var(--light-blue-color);
}


/* .webinars .circle-inner:hover {
  height: 240px;
  width: 240px;
} */

.webinars .circle-inner img{
  width: 100px;
}

.webinars a{
  text-decoration: none;
}

.webinars .circle-inner p{
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}



/*----------------------------------END OF WEBINARS----------------------------------------------*/



/*----------------------------------FOOTER----------------------------------------------*/

footer {
  background: var(--almost-black-color);
  
  padding:100px 0;
  color: #fff;
}

footer h4 {
  font-size:20px;
}

footer ul {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

footer ul li {
  list-style: none;
  font-size: 18px;
}

footer ul li a{
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

footer ul li a:hover{
  text-decoration: underline;
  font-size: 20px;
}


footer .whatsapp a::before {
  width:40px;
  height: 40px;

  vertical-align: middle;
  margin-right: 10px; 
}

footer .telegram a::before {
  width:40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px; 
}

footer .telegram-channel a::before {
  /* content: "";
  display: inline-block; */
  background: url(img/icons/social-media/telegram-channel-white.svg);
  width:40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px; 
  /* width: 20px;
  height: 20px;
  vertical-align: text-top;
  margin-right: 5px; */
}

footer .instagram a::before {
  width:40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px; 
}


footer .phone, footer .name {
  margin-top:40px;
  font-size:18px;
}