/*----------------------------------WEBINAR-HERO----------------------------------------------*/

/* .webinar-hero {
  height: 50vh;
  width: 100%;
  background: url(/img/bg/webinar.jpg);
  background-size: cover;
  margin-top: 60px;
  background-position-y: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webinar-hero .white-bg {
  background-color: rgba(255, 255, 255, 0.6);
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webinar-hero h1 {
  font-weight: 700;
  font-size: 62px;
} */


.webinar-hero {
  margin-top: 50px;



    background-image: url(../img/bg/webinar.jpg);


    display: flex;
    align-items: center;

  
}

.webinar-hero h1 {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 20px 0;
  font-weight: 400;
  font-size: 62px;
  font-family: "Lora", serif;
}

/*----------------------------------END OF WEBINAR-HERO----------------------------------------------*/
/*----------------------------------WEBINAR-GRID----------------------------------------------*/

.webinars-grid {
  margin-top: 150px;
  margin-bottom: 150px;
}

.webinars-grid .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px 10%;
}
.webinar iframe {
  width: 100%;
  height: 300px;
}

.webinars-grid .video-wrapper {
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.webinars-grid .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.webinars-grid h4{
    font-size: 24px;
    color: var(--light-blue-color);
    font-weight: 400;
    text-align: left;
    padding: 20px 0 0px 0;
}

/* .webinars-grid .description {
    font-family: "Lora", serif;
    font-size: 20px;
    line-height: 170%;
    padding: 10px 0px 0 0px;
} */

.webinars-grid .description {
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 150%;
    padding: 10px 0px 0 0px;
}

/*----------------------------------END OF WEBINAR-GRID----------------------------------------------*/

/*---------------------------------- < 760 px ----------------------------------------------*/
@media only screen and (max-width: 760px) {

  .webinars-grid {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .webinars-grid .wrapper {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  
  .webinar-hero h1 {
  
    font-size: 42px;
  
  }
}


/*----------------------------------END OF  < 760 px ----------------------------------------------*/